modules = ["lua-5.2"]
[agent]
expertMode = true

[nix]
packages = ["lua5_4"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Test"

[[workflows.workflow]]
name = "Run Test"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "lua main.lua"

[workflows.workflow.metadata]
outputType = "console"
